.app-header-background {
    padding: 100px 0 60px 0;
    color: #fff;
    background-color: #673ab7;
    text-align: center;

    h1 {
        font-size: 56px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 20px;
    }
}

.feedback-container {
}